html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal
}

ul {
  list-style: none
}

button,
input,
select,
textarea {
  margin: 0
}

html {
  box-sizing: border-box
}

*,
*:before,
*:after {
  box-sizing: inherit
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%
}

iframe {
  border: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 0;
  text-align: left
}

video::-webkit-media-controls-enclosure {
  /*禁用播放器控制栏的样式*/
  display: none !important;
}


.animated {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.icon {
  margin: 54px;
  zoom: 0.16;
}

.icon-fast_next {
  width: 128px;
  height: 128px;
  background: url('icon_set.png') -158px -10px;
}

.icon-fast_prev {
  width: 128px;
  height: 128px;
  background: url('icon_set.png') -306px -306px;
}

.icon-infinate {
  width: 128px;
  height: 128px;
  background: url('icon_set.png') -10px -158px;
}

.icon-live {
  width: 128px;
  height: 128px;
  background: url('icon_set.png') -158px -158px;
}

.icon-next {
  width: 128px;
  height: 128px;
  background: url('icon_set.png') -306px -10px;
}

.icon-pause {
  width: 128px;
  height: 128px;
  background: url('icon_set.png') -306px -158px;
}

.icon-pause_circle {
  width: 128px;
  height: 128px;
  background: url('icon_set.png') -10px -306px;
}

.icon-play {
  width: 128px;
  height: 128px;
  background: url('icon_set.png') -158px -306px;
}

.icon-play_circle {
  width: 128px;
  height: 128px;
  background: url('icon_set.png') -10px -10px;
}

.icon-prev {
  width: 128px;
  height: 128px;
  background: url('icon_set.png') -454px -10px;
}

.icon-random {
  width: 128px;
  height: 128px;
  background: url('icon_set.png') -454px -158px;
}

.icon-reload {
  width: 128px;
  height: 128px;
  background: url('icon_set.png') -454px -306px;
}

.icon-settings {
  width: 128px;
  height: 128px;
  background: url('icon_set.png') -10px -454px;
}

.icon-switch_off {
  width: 128px;
  height: 128px;
  background: url('icon_set.png') -158px -454px;
}

.icon-switch_on {
  width: 128px;
  height: 128px;
  background: url('icon_set.png') -306px -454px;
}

.icon-volume_mute {
  width: 128px;
  height: 128px;
  background: url('icon_set.png') -454px -454px;
}

.icon-volume_on {
  width: 128px;
  height: 128px;
  background: url('icon_set.png') -602px -10px;
}

.icon-fullscreen {}

ul.usagi-player-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  list-style-type: none;
  opacity: 0;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  z-index: 2147483649;
}

ul.usagi-player-controls li {
  font-size: 12px;
  height: 100%;
  float: left;
  color: #797979;
  line-height: 38px;
  text-align: center;
}

.usagi-player {
  width: 100%;
  height: 100%;
  position: relative;
}

.usagi-player-video {
  height: 100%;
}

.usagi-player-video video {
  width: 100%;
  height: 100%;
  background: #000;
}

.usagi-player-current-time {
  margin: 0 15px 0 0;
}

.usagi-player-total-time {
  margin: 0 0 0 15px;
}

.usagi-player-progressbar {
  position: relative;
  width: 36%;
}

.usagi-player-play-btn {
  font-size: 20px;
  cursor: pointer;
}

.usagi-player-pause-btn {
  font-size: 20px;
  cursor: pointer;
}

.usagi-player-progressbar-slot {
  position: absolute;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(0, #ddd 0px, #ddd 50px, #ddd 100px);
  border-radius: 10px;
  margin: 19px 0 19px 0;
}

.usagi-player-progressbar-played {
  position: absolute;
  height: 2px;
  background-image: linear-gradient(0, #ff7474 0px, #ddd 50px, #ddd 100px);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin: 19px 0 19px 0;
  -webkit-animation: process 2s;
  animation: process 2s;
}

.usagi-player-progressbar-played::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0px 9px rgb(255, 0, 0);
  background-color: #fff;
  position: absolute;
  right: -5px;
  top: -4px;
  cursor: pointer;
}

.usagi-player-progressbar-buffered {
  position: absolute;
  height: 2px;
  background-image: linear-gradient(0, #a0a0a0c5 0px, #ddd 50px, #ddd 100px);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin: 19px 0 19px 0;
}

.usagi-player-info-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: 2147483648;
}

.usagi-player-info-container .center-play-btn {
  position: absolute;
  zoom: 0.6;
  margin: auto;
  left: 50%;
  top: 50%;
  margin-left: -64px;
  margin-top: -64px;
}

.usagi-player-danmaku-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2147483648;
  overflow: hidden;
}

.usagi-player-danmaku {
  position: absolute;
  right: 0;
  color: #ddd;
}

.usagi-player-volume-btn{
  cursor: pointer;
}

.usagi-player-clarity-btn {
  width: 60px;
  cursor: pointer;
}

.usagi-player-clarity-btn:hover {
  background: #e5e9ef;
}

.usagi-player-clarity-list {
  display: none;
  margin-left: -15px;
  margin-top: -158px;
  width: 90px;
  height: 120px;
  background: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 2147483649;
}

.usagi-player-clarity-list li {
  width: 100%;
  height: 30px !important;
  line-height: 30px !important;
  cursor: pointer;
}

.usagi-player-clarity-list li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.usagi-player-clarity-list li:hover {
  -webkit-animation: clarity_hover 0.6s;
  animation: clarity_hover 0.6s;
  background: #e5e9ef;
}

.usagi-player-clarity-list li:last-child {
  background: #a3d4ff;
  cursor: default;
}

.usagi-player-clarity-list li:last-child:hover {
  -webkit-animation: clarity_hover_none 0.6s;
  animation: clarity_hover_none 0.6s;
  background: #a3d4ff;
  cursor: default;
}

.usagi-player-fullscreen-btn{
  float: right !important;
  background: aqua;
}

@-webkit-keyframes clarity_hover_none {
  0% {
    background: #a3d4ff;
  }
  100% {
    background: #a3d4ff;
  }
}

@keyframes clarity_hover_none {
  0% {
    background: #a3d4ff;
  }
  100% {
    background: #a3d4ff;
  }
}

@-webkit-keyframes clarity_hover {
  0% {
    background: #fff;
  }
  100% {
    background: #e5e9ef;
  }
}

@keyframes clarity_hover {
  0% {
    background: #fff;
  }
  100% {
    background: #e5e9ef;
  }
}

@-webkit-keyframes process {
  0% {
    width: 0;
  }
}

@keyframes process {
  0% {
    width: 0;
  }
}

@-webkit-keyframes danmaku-run {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1200px);
  }
}

@keyframes danmaku-run {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1200px);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
