/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animated {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.icon {
  transform: scale(0.4);
  margin: -5px 0 -5px 0;
}
.icon-play {
  width: 50px; height: 50px;
  background: url('icon_set.png') -10px -10px;
}

.icon-pause {
  width: 50px; height: 50px;
  background: url('icon_set.png') -150px -80px;
}

.icon-play-circle {
  width: 50px; height: 50px;
  background: url('icon_set.png') -80px -10px;
}

.icon-pause-circle {
  width: 50px; height: 50px;
  background: url('icon_set.png') -10px -150px;
}


.icon-volume-mute {
  width: 50px; height: 50px;
  background: url('icon_set.png') -150px -10px;
}

.icon-volume-low {
  width: 50px; height: 50px;
  background: url('icon_set.png') -10px -80px;
}

.icon-volume-medium {
  width: 50px; height: 50px;
  background: url('icon_set.png') -80px -150px;
}

.icon-volume-high  {
  width: 50px; height: 50px;
  background: url('icon_set.png') -80px -80px;
}

.icon-reload {
  width: 50px; height: 50px;
  background: url('icon_set.png') -150px -150px;
}

ul.usagi-player-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  list-style-type: none;
  opacity: 0;
  background: url('player_bg.png') repeat-x bottom;
  z-index: 2147483649;
}

ul.usagi-player-controls li {
  font-size: 12px;
  height: 100%;
  float: left;
  color: #fff;
  line-height: 40px;
  text-align: center;
}

.usagi-player{
  width: 100%;
  height: 100%;
  position: relative;
}

.usagi-player-video{
  height: 100%;
}

.usagi-player-video video{
  width: 100%;
}

.usagi-player-current-time{
  margin: 0 10px 0 0;
}

.usagi-player-total-time{
  margin: 0 0 0 10px;
}

.usagi-player-progressbar {
  position: relative;
  min-width: 40%;
  max-width: 70%;
}

.usagi-player-play-btn {
  font-size: 20px;
  cursor: pointer;
}

.usagi-player-pause-btn {
  font-size: 20px;
  cursor: pointer;
}

.usagi-player-progressbar-slot {
  position: absolute;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(0, #ddd 0px, #ddd 50px, #ddd 100px);
  border-radius: 10px;
  margin: 19px 0 19px 0;
}

.usagi-player-progressbar-played {
  position: absolute;
  height: 2px;
  background-image: linear-gradient(0, #ffc107 0px, #ddd 50px, #ddd 100px);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin: 19px 0 19px 0;
  -webkit-animation: process 2s;
  animation: process 2s;
  z-index: 1;

}

.usagi-player-progressbar-buffered {
  position: absolute;
  height: 2px;
  background-image: linear-gradient(0, #a0a0a0c5 0px, #ddd 50px, #ddd 100px);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin: 19px 0 19px 0;
}

.usagi-player-progressbar-played:after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
  background-color: #fff;
  position: absolute;
  right: -5px;
  top: -4px;
  cursor: pointer;
}

.usagi-player-info-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0,0,0,0.2);
  opacity: 0;
  z-index: 2147483648;
}

.usagi-player-info-container .center-play-btn{
    position: absolute;
    transform: scale(1);
    margin: auto;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

.usagi-player-danmaku-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2147483648;
}

.usagi-player-danmaku{
  position: absolute;
  right: 0;
  color: #ddd;
  font-size: 22px;
}

@-webkit-keyframes process{
	0% { width: 0; }
}
@keyframes process{
	0% { width: 0; }
}
